<form (ngSubmit)="onButtonClicked()">
  <div>
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" [(ngModel)]="name" />
  </div>
  <div>
    <label for="description">Item Description:</label>
    <textarea id="description" name="description" [(ngModel)]="description"></textarea>
  </div>
  <div>
    <label for="price">Price:</label>
    <input id="price" name="price" type="text" [(ngModel)]="price" />
  </div>
  <button type="submit">{{ buttonText }}</button>
</form>
